.ant-layout.main-layout {
  background-color: #fff;
}

.main-header--fixed {
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 1;
}

.main-content {
  margin: calc(64px + 5%) 5%;
  width: calc(100vw - 10%);
}

.main-footer--fixed {
  position: fixed;
  bottom: 0;
  width: 100vw;
  z-index: 1;
}

.main-footer__my-contacts {
  color: #ccc;
  font-size: 1.2rem;
}